
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
   <%= link_to root_path, class: 'text-decoration-none' do %>
      <div class="homepage col-4 d-flex justify-content-space-between align-items-center">
        <i class="fa-solid fa-crow"></i>
        <h1>LXperiences</h1>
      </div>
    <% end %>

    <div class="collapse navbar-collapse col-2 align-items-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
            <%= link_to "My bookings", bookings_path, class: 'text-decoration-none'%>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
