  <div class='navbar sticky'>
    <%= link_to root_path, class: 'text-decoration-none' do %>
      <div class="homepage col-4 d-flex justify-content-space-between align-items-center">
        <i class="fa-solid fa-crow"></i>
        <h1>LXperiences</h1>
      </div>
    <% end %>

    <div class="col-4">
    </div>

    <div class="col-4 d-flex justify-content-around align-items-end">
      <%= link_to "sign up",  new_user_registration_path, class: 'btn sign-up' %>
      <%= link_to "login", new_user_session_path, class: 'btn login' %>
    </div>
  </div>


<%# aria_hidden="true" title="homepage" %>

<%# <%= link_to "LXperiences", "#", class: ""  ou posso usar um header (h1, h2, etc)%>
