<div class="banner">
  <div class="container">
      <h1>Discover the funniest part of Lisbon</h1>
      <%= link_to "Explore experiences", experiences_path, class: 'btn' %>
      <%= link_to "Create experience", new_experience_path, class: 'btn' %>
  </div>
</div>
