<h1>LXperiences</h1>
<p>The app to discover the most fun part of Lisbon and regions</p>


  <% @experiences.each do |experience|%>
    <ul>
      <li><strong><%= experience.title %></strong></li>
      <li><strong></strong><%= experience.location %></li>
      <li><strong></strong><%= experience.price %></li>
      <br>
    </ul>
  <% end %>

<%= link_to "New experience", new_experience_path %>
