<h1>Discover our LXperiences</h1>
<p>The app to discover the most fun part of Lisbon and regions</p>

<% @experiences.each do |experience|%>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><strong><%= link_to experience.title, experience_path(experience) %></strong></h2>
    <p><%= experience.location %></p>
    <p><%= experience.price %> eur</p>
  </div>
</div>

<% end %>


<div>
  <%= link_to "Add new experience", new_experience_path if policy(Experience).new? %>
</div>
