<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">

      <h1 style="text-align: center;">Create a new experience</h1>
      <br>
      <%= render "form", experience: @experience %>
      <br>

    </div>
  </div>
</div>
