<h1>Experiences#show</h1>

<div>
<h2><strong><%=@experience.title  %></strong></h2>
<p><%= @experience.description %></p>
<p><%= @experience.location %></p>
<p><%= @experience.price %> EUR</p>
</div>
