// .mapboxgl-ctrl-geocoder--input {
//   font: inherit;
//   width: 108%;
//   border: 0;
//   /* background-color: transparent; */
//   margin: 0;
//   height: 50px;
//   color: #404040;
//   color: rgba(0, 0, 0, 0.75);
//   padding: 6px 45px;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   overflow: hidden;
// }

.mapboxgl-ctrl {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: 1px solid #ced4da;
}
