

.mapboxgl-popup-content {
  text-align: centre;
  font-family: 'Playfair Display', serif;
  background-color: rgba(255, 255, 255, 0.767) !important;
  color: rgba(0, 0, 0, 0.808) !important;
  border-radius: 7px !important;
  box-sizing: border-box;
}

.btn-map {
  justify-content: end;
}

.mapboxgl-ctrl {
  width: 100%;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.767) !important;
  border: none;
}

.map-search-box p {
  font-size: 16px;
}
